### Spark on Google Colab

In [0]:
!ls

Oscars.csv   spark-2.3.4-bin-hadoop2.7	    spark-warehouse
sample_data  spark-2.3.4-bin-hadoop2.7.tgz

In [0]:
#Install JAVA, SPARK, HADOOP
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.3.4/spark-2.3.4-bin-hadoop2.7.tgz
!tar xf spark-2.3.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
#establish Spark session
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.4-bin-hadoop2.7"

import findspark
findspark.init("spark-2.3.4-bin-hadoop2.7")

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
# import Python modules
import pandas as pd
import numpy as np
import datetime as dt

In [0]:
# Upload data files from local or web
from google.colab import files
files.upload()

Saving Oscars.csv to Oscars.csv

{'Oscars.csv': b'_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,race_ethnicity:confidence,religion,religion:confidence,sexual_orientation,sexual_orientation:confidence,year_of_award,year_of_award:confidence,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold\r670454353,FALSE,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1,30-Sep-1895,1,White,1,Na,1,Straight,1,1927,1,Best Director,http://www.nndb.com/people/320/000043191/,,,Two Arabian Knights,Lewis Milestone,,,,\r670454354,FALSE,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1,2-Feb-1886,1,White,1,Na,1,Straight,0.6842,1930,1,Best Director,http://www.nndb.com/people/626/000042500/,,,The Divine Lady,Frank Lloyd,,,,\r670454355,FALSE,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1,30-Sep-1895,1,White,1,Na,1,Straight,1,1931,0.6667,Best Director,http://www.nndb.com/people/320/000043191/,,,All Quiet on the Western Front,Lewis Milestone,,,,\r670454356,FALSE,finalized,3,2/10/15 2:04,"Chicago, Il",1,23-Feb-1899,1,White,1,Na,1,Straight,1,1932,1,Best Director,http://www.nndb.com/people/544/000041421/,,,Skippy,Norman Taurog,,,,\r670454357,FALSE,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1,23-Apr-1894,1,White,1,Roman Catholic,1,Straight,1,1933,1,Best Director,http://www.nndb.com/people/292/000044160/,,,Bad Girl,Frank Borzage,,,,\r670454358,FALSE,finalized,3,2/10/15 3:50,"Glasgow, Scotland",1,2-Feb-1886,1,White,1,Na,1,Straight,1,1934,1,Best Director,http://www.nndb.com/people/626/000042500/,,,Cavalcade,Frank Lloyd,,,,\r670454359,FALSE,finalized,3,2/10/15 2:07,"Bisacquino, Sicily, Italy",1,18-May-1897,1,White,1,Roman Catholic,1,Straight,1,1935,1,Best Director,http://www.nndb.com/people/459/000032363/,,,It Happened One Night,Frank Capra,,,,\r670454360,FALSE,finalized,3,2/10/15 1:46,"Cape Elizabeth, Me",1,1-Feb-1894,1,White,1,Roman Catholic,1,Bisexual,1,1936,1,Best Director,http://www.nndb.com/people/458/000032362/,,,The Informer,John Ford,,,,\r670454361,FALSE,finalized,3,2/10/15 1:47,"Bisacquino, Sicily, Italy",1,18-May-1897,1,White,1,Roman Catholic,1,Straight,1,1937,1,Best Director,http://www.nndb.com/people/459/000032363/,,,Mr. Deeds Goes to Town,Frank Capra,,,,\r670454362,FALSE,finalized,3,2/10/15 2:05,"Los Angeles, Ca",1,3-Oct-1898,1,White,1,Na,1,Straight,1,1938,1,Best Director,http://www.nndb.com/people/380/000044248/,,,The Awful Truth,Leo McCarey,,,,\r670454363,FALSE,finalized,3,2/10/15 2:04,"Bisacquino, Sicily, Italy",1,18-May-1897,1,White,1,Roman Catholic,1,Straight,1,1939,1,Best Director,http://www.nndb.com/people/459/000032363/,,,You Can\'t Take It with You,Frank Capra,,,,\r670454364,FALSE,finalized,3,2/10/15 2:10,"Pasadena, Ca",1,23-Feb-1883,1,White,1,Na,1,Straight,1,1940,1,Best Director,http://www.nndb.com/people/416/000041293/,,,Gone with the Wind,Victor Fleming,,,,\r670454365,FALSE,finalized,3,2/10/15 2:12,"Cape Elizabeth, Me",1,1-Feb-1894,1,White,1,Roman Catholic,1,Bisexual,1,1941,1,Best Director,http://www.nndb.com/people/458/000032362/,,,The Grapes of Wrath,John Ford,,,,\r670454366,FALSE,finalized,3,2/10/15 2:02,"Cape Elizabeth, Me",1,1-Feb-1894,1,White,1,Roman Catholic,1,Bisexual,1,1942,1,Best Director,http://www.nndb.com/people/458/000032362/,,,How Green Was My Valley,John Ford,,,,\r670454367,FALSE,finalized,3,2/10/15 3:57,"Mulhouse, Haut-Rhin, Alsace, France",1,1-Jul-1902,1,White,1,Na,1,Straight,1,1943,1,Best Director,http://www.nndb.com/people/463/000032367/,,,Mrs. Miniver,William Wyler,,,,\r670454368,FALSE,finalized,3,2/10/15 2:02,"Budapest, Hungary",1,24-Dec-1886,1,White,1,Na,1,Straight,1,1944,1,Best Director,http://www.nndb.com/people/676/000032580/,,,Casablanca,Michael Curtiz,,,,\r670454369,FALSE,finalized,3,2/10/15 2:29,"Los Angeles, Ca",1,3-Oct-1898,1,White,1,Na,1,Straight,1,1945,1,Best Director,http://www.nndb.com/people/380/000044248/,,,Going My Way,Leo McCarey,,,,\r670454370,FALSE,finalized,3,2/10/15 1:55,New York City,1,11-Oct-18,1,White,1,Jewish,1,Gay,1,1962,1,Best Director,http://www.nndb.com/people/281/000064089/,,,West Side Story,Jerome Robbins,,,,\r670454371,FALSE,finalized,3,2/10/15 4:02,"Sucha, Galicia, Austria",0.6667,22-Jun-06,1,White,1,Jewish,1,Straight,1,1946,1,Best Director,http://www.nndb.com/people/982/000024910/,,,The Lost Weekend,Billy Wilder,,,,\r670454372,FALSE,finalized,3,2/10/15 2:12,"Mulhouse, Haut-Rhin, Alsace, France",1,1-Jul-1902,1,White,1,Na,1,Straight,1,1947,1,Best Director,http://www.nndb.com/people/463/000032367/,,,The Best Years of Our Lives,William Wyler,,,,\r670454373,FALSE,finalized,3,2/10/15 1:46,"Istanbul, Turkey",1,7-Sep-09,1,White,1,Na,1,Straight,1,1948,1,Best Director,http://www.nndb.com/people/537/000026459/,,,Gentleman\'s Agreement,Elia Kazan,,,,\r670454374,TRUE,golden,82,,"Nevada, Mo",1,5-Aug-06,1,White,1,Na,1,Straight,1,1949,1,Best Director,http://www.nndb.com/people/704/000024632/,,5-Aug-06,The Treasure of the Sierra Madre,John Huston,,,,\r670454375,FALSE,finalized,3,2/10/15 3:50,"Wilkes-Barre, Pa",1,11-Feb-09,1,White,1,Jewish,1,Straight,1,1950,1,Best Director,http://www.nndb.com/people/723/000032627/,,,A Letter to Three Wives,Joseph L. Mankiewicz,,,,\r670454376,FALSE,finalized,3,2/10/15 1:51,"Wilkes-Barre, Pa",1,11-Feb-09,1,White,1,Jewish,1,Straight,1,1951,1,Best Director,http://www.nndb.com/people/723/000032627/,,,All About Eve,Joseph L. Mankiewicz,,,,\r670454377,FALSE,finalized,3,2/10/15 2:15,"Oakland, Ca",1,18-Dec-04,1,White,1,Na,1,Straight,1,1952,1,Best Director,http://www.nndb.com/people/382/000044250/,,,A Place in the Sun,George Stevens,,,,\r670454378,FALSE,finalized,3,2/10/15 2:15,"Cape Elizabeth, Me",1,1-Feb-1894,1,White,1,Roman Catholic,1,Bisexual,1,1953,1,Best Director,http://www.nndb.com/people/458/000032362/,,,The Quiet Man,John Ford,,,,\r670454379,FALSE,finalized,3,2/10/15 1:57,"Vienna, Austria",1,29-Apr-07,1,White,1,Jewish,1,Straight,1,1954,1,Best Director,http://www.nndb.com/people/538/000032442/,,,From Here to Eternity,Fred Zinnemann,,,,\r670454380,FALSE,finalized,3,2/10/15 3:50,"Istanbul, Turkey",1,7-Sep-09,1,White,1,Na,1,Straight,1,1955,1,Best Director,http://www.nndb.com/people/537/000026459/,,,On the Waterfront,Elia Kazan,,,,\r670454381,FALSE,finalized,3,2/10/15 3:53,"Lawrence, Ks",1,30-Jan-20,1,White,1,Presbyterian,1,Straight,1,1956,1,Best Director,http://www.nndb.com/people/384/000044252/,,,Marty,Delbert Mann,,,,\r670454382,FALSE,finalized,3,2/10/15 3:50,"Oakland, Ca",1,18-Dec-04,1,White,1,Na,1,Straight,1,1957,1,Best Director,http://www.nndb.com/people/382/000044250/,,,Giant,George Stevens,,,,\r670454383,FALSE,finalized,3,2/10/15 2:07,"Croydon, Surrey, England",0.6667,25-Mar-08,1,White,1,Na,1,Straight,0.6667,1958,1,Best Director,http://www.nndb.com/people/462/000032366/,,,The Bridge on the River Kwai,David Lean,,,,\r670454384,FALSE,finalized,3,2/10/15 1:52,"Chicago, Il",1,28-Feb-1903,1,White,1,Na,1,Bisexual,1,1959,1,Best Director,http://www.nndb.com/people/825/000032729/,,,Gigi,Vincente Minnelli,,,,\r670454385,FALSE,finalized,3,2/10/15 1:55,"Mulhouse, Haut-Rhin, Alsace, France",1,1-Jul-1902,1,White,1,Na,1,Straight,1,1960,1,Best Director,http://www.nndb.com/people/463/000032367/,,,Ben-Hur,William Wyler,,,,\r670454386,TRUE,golden,87,,"Sucha, Galicia, Austria",1,22-Jun-06,1,White,1,Jewish,0.963,Straight,1,1961,1,Best Director,http://www.nndb.com/people/982/000024910/,"Sucha, Galicia, Austria",22-Jun-06,The Apartment,Billy Wilder,,Jewish,,1961\r670454387,FALSE,finalized,3,2/10/15 1:55,"Winchester, In",1,10-Sep-14,1,White,1,Na,1,Straight,1,1961,0.6667,Best Director,http://www.nndb.com/people/460/000032364/,,,West Side Story,Robert Wise,,,,\r670454388,FALSE,finalized,3,2/10/15 2:05,"Croydon, Surrey, England",1,25-Mar-08,1,White,1,Na,1,Straight,1,1963,1,Best Director,http://www.nndb.com/people/462/000032366/,,,Lawrence of Arabia,David Lean,,,,\r670454389,FALSE,finalized,3,2/10/15 1:57,"Shipley, Yorkshire, England",1,5-Jun-28,1,White,1,Na,1,Bisexual,1,1964,1,Best Director,http://www.nndb.com/people/249/000043120/,,,Tom Jones,Tony Richardson,,,,\r670454390,FALSE,finalized,3,2/10/15 1:52,New York City,1,7-Jul-1899,1,White,1,Na,0.6571,Gay,0.6571,1965,1,Best Director,http://www.nndb.com/people/373/000041250/,,,My Fair Lady,George Cukor,,,,\r670454391,FALSE,finalized,3,2/10/15 1:51,"Winchester, In",1,10-Sep-14,1,White,1,Na,1,Straight,1,1966,1,Best Director,http://www.nndb.com/people/460/000032364/,,,The Sound of Music,Robert Wise,,,,\r670454392,FALSE,finalized,3,2/10/15 2:06,"Vienna, Austria",1,29-Apr-07,1,White,1,Jewish,1,Straight,1,1967,1,Best Director,http://www.nndb.com/people/538/000032442/,,,A Man for All Seasons,Fred Zinnemann,,,,\r670454393,FALSE,finalized,3,2/10/15 2:13,"Berlin, Germany",1,6-Nov-31,1,White,1,Jewish,1,Straight,1,1968,1,Best Director,http://www.nndb.com/people/455/000023386/,,,The Graduate,Mike Nichols,,,,\r670454394,FALSE,finalized,3,2/10/15 3:56,"St. Louis Park, Mn",1,29-Nov-54,1,White,1,Jewish,1,Straight,1,2008,1,Best Director,http://www.nndb.com/people/399/000025324/,,,No Country for Old Men,Joel Coen,,,,\r670454395,FALSE,finalized,3,2/10/15 2:29,"London, England",1,30-Dec-06,1,White,1,Na,1,Straight,1,1969,1,Best Director,http://www.nndb.com/people/290/000064098/,,,Oliver!,Carol Reed,,,,\r670454396,FALSE,finalized,3,2/10/15 2:01,"London, England",1,16-Feb-26,1,White,1,Na,1,Gay,1,1969,1,Best Director,http://www.nndb.com/people/771/000032675/,,,Midnight Cowboy,John Schlesinger,,,,\r670454397,FALSE,finalized,3,2/10/15 3:56,"Tokyo, Japan",1,30-May-20,1,White,1,Na,1,Straight,1,1970,1,Best Director,http://www.nndb.com/people/509/000032413/,,,Patton,Franklin J. Schaffner,,,,\r670454398,FALSE,finalized,3,2/10/15 2:11,"Chicago, Il",1,29-Aug-35,1,White,1,Jewish,1,Straight,1,1972,1,Best Director,http://www.nndb.com/people/112/000024040/,,,The French Connection,William Friedkin,,,,\r670454399,FALSE,finalized,3,2/10/15 1:51,"Chicago, Il",1,23-Jun-27,1,White,1,Na,1,Straight,1,1973,1,Best Director,http://www.nndb.com/people/159/000032063/,,,Cabaret,Bob Fosse,,,,\r670454400,FALSE,finalized,3,2/10/15 2:05,"Minneapolis, Mn",1,20-Dec-21,1,White,1,Na,1,Straight,1,1973,1,Best Director,http://www.nndb.com/people/783/000032687/,,,The Sting,George Roy Hill,,,,\r670454401,FALSE,finalized,3,2/10/15 2:15,"Detroit, Mi",1,7-Apr-39,1,White,1,Na,1,Straight,1,1975,1,Best Director,http://www.nndb.com/people/866/000022800/,,,The Godfather Part II,Francis Ford Coppola,,,,\r670454402,FALSE,finalized,3,2/10/15 1:59,"C\xcc\xc1slav, Czechoslovakia",1,18-Feb-32,1,White,1,Na,1,Straight,1,1976,1,Best Director,http://www.nndb.com/people/622/000023553/,,,One Flew over the Cuckoo\'s Nest,Milos Forman,,,,\r670454403,FALSE,finalized,3,2/10/15 2:06,"Oak Park, Il",1,21-Dec-35,1,White,1,Na,1,Straight,1,1976,0.6667,Best Director,http://www.nndb.com/people/679/000032583/,,,Rocky,John G. Avildsen,,,,\r670454404,FALSE,finalized,3,2/10/15 2:14,"Brooklyn, Ny",1,1-Dec-35,1,White,1,Jewish,1,Straight,1,1978,1,Best Director,http://www.nndb.com/people/501/000022435/,,,Annie Hall,Woody Allen,,,,\r670454405,TRUE,golden,75,,New York City,1,3-Feb-39,0.9597,White,1,Na,1,Straight,1,1979,0.7227,Best Director,http://www.nndb.com/people/810/000043681/,New York City,,The Deer Hunter,Michael Cimino,,,,\r670454406,FALSE,finalized,3,2/10/15 4:02,"Waxahachie, Tx",1,29-Sep-32,1,White,1,Na,1,Straight,1,1980,1,Best Director,http://www.nndb.com/people/267/000064075/,,,Kramer vs. Kramer,Robert Benton,,,,\r670454407,FALSE,finalized,3,2/10/15 4:07,"Santa Monica, Ca",1,18-Aug-1936 [1],0.6562,White,1,Na,1,Straight,1,1980,1,Best Director,http://www.nndb.com/people/795/000022729/,,,Ordinary People,Robert Redford,,,,\r670454408,FALSE,finalized,3,2/10/15 1:43,"Richmond, Va",1,30-Mar-37,1,White,1,Baptist,1,Straight,1,1981,1,Best Director,http://www.nndb.com/people/719/000022653/,,,Reds,Warren Beatty,,,,\r670454409,FALSE,finalized,3,2/10/15 2:00,"Cambridge, England",1,29-Aug-23,1,White,1,Na,1,Straight,1,1982,1,Best Director,http://www.nndb.com/people/750/000023681/,,,Gandhi,Richard Attenborough,,,,\r670454410,FALSE,finalized,3,2/10/15 2:12,"North Bergen, Nj",1,9-May-40,1,White,1,Na,1,Straight,1,1983,0.6667,Best Director,http://www.nndb.com/people/209/000024137/,,,Terms of Endearment,James L. Brooks,,,,\r670454411,FALSE,finalized,3,2/10/15 2:12,"C\xcc\xc1slav, Czechoslovakia",1,18-Feb-32,1,White,1,Na,1,Straight,1,1985,1,Best Director,http://www.nndb.com/people/622/000023553/,,,Amadeus,Milos Forman,,,,\r670454412,FALSE,finalized,3,2/10/15 1:52,"Lafayette, In",1,1-Jul-34,1,White,1,Jewish,1,Straight,1,1986,1,Best Director,http://www.nndb.com/people/772/000023703/,,,Out of Africa,Sydney Pollack,,,,\r670454413,FALSE,finalized,3,2/10/15 2:18,New York City,1,15-Sep-46,1,White,1,Atheist,1,Straight,1,1990,0.3333,Best Director,http://www.nndb.com/people/545/000022479/,,,Platoon,Oliver Stone,,,,\r670454414,FALSE,finalized,3,2/10/15 2:05,"Parma, Emilia-Romagna, Italy",1,16-Mar-41,1,White,1,Na,1,Straight,1,1988,1,Best Director,http://www.nndb.com/people/268/000024196/,,,The Last Emperor,Bernardo Bertolucci,,,,\r670454415,FALSE,finalized,3,2/10/15 1:51,"Baltimore, Md",1,6-Apr-42,1,White,1,Jewish,0.6667,Straight,1,1989,1,Best Director,http://www.nndb.com/people/748/000023679/,,,Rain Man,Barry Levinson,,,,\r670454416,FALSE,finalized,3,2/10/15 2:07,New York City,1,15-Sep-46,1,White,1,Atheist,1,Straight,1,1990,1,Best Director,http://www.nndb.com/people/545/000022479/,,,Born on the Fourth of July,Oliver Stone,,,,\r670454417,FALSE,finalized,3,2/10/15 1:55,"Lynwood, Ca",1,18-Jan-55,1,White,1,Baptist,1,Straight,1,1991,1,Best Director,http://www.nndb.com/people/758/000022692/,,,Dances with Wolves,Kevin Costner,,,,\r670454418,FALSE,finalized,3,2/10/15 2:11,"Baldwin, Ny",1,22-Feb-44,1,White,1,Na,1,Straight,1,1992,1,Best Director,http://www.nndb.com/people/578/000024506/,,,The Silence of the Lambs,Jonathan Demme,,,,\r670454419,FALSE,finalized,3,2/10/15 1:55,"San Francisco, Ca",1,31-May-30,1,White,1,Na,1,Straight,1,1993,1,Best Director,http://www.nndb.com/people/849/000022783/,,,Unforgiven,Clint Eastwood,,,,\r670454420,FALSE,finalized,3,2/10/15 3:48,"Cincinnati, Oh",1,18-Dec-46,1,White,1,Jewish,1,Straight,1,1994,1,Best Director,http://www.nndb.com/people/734/000022668/,,,Schindler\'s List,Steven Spielberg,,,,\r670454421,FALSE,finalized,3,2/10/15 2:14,"Chicago, Il",1,14-May-52,1,White,1,Roman Catholic,1,Straight,1,1995,0.6923,Best Director,http://www.nndb.com/people/224/000025149/,,,Forrest Gump,Robert Zemeckis,,,,\r670454422,FALSE,finalized,3,2/10/15 2:11,"Peekskill, Ny",1,3-Jan-56,1,White,1,Roman Catholic,1,Straight,1,1996,1,Best Director,http://www.nndb.com/people/583/000022517/,,,Braveheart,Mel Gibson,,,,\r670454423,FALSE,finalized,3,2/10/15 2:19,"Ryde, Isle of Wight, England",1,6-Jan-54,1,White,1,Na,1,Straight,1,1997,1,Best Director,http://www.nndb.com/people/513/000032417/,,,The English Patient,Anthony Minghella,,,,\r670454424,FALSE,finalized,3,2/10/15 1:53,"Kapuskasing, Ontario, Canada",1,16-Aug-54,1,White,1,Atheist,0.6667,Straight,1,1998,1,Best Director,http://www.nndb.com/people/385/000025310/,,,Titanic,James Cameron,,,,\r670454425,FALSE,finalized,3,2/10/15 3:55,"Cincinnati, Oh",1,18-Dec-46,1,White,1,Jewish,1,Straight,1,1999,1,Best Director,http://www.nndb.com/people/734/000022668/,,,Saving Private Ryan,Steven Spielberg,,,,\r670454426,FALSE,finalized,3,2/10/15 3:45,"Reading, Berkshire, England",1,1-Aug-65,1,White,1,Na,1,Straight,1,2000,1,Best Director,http://www.nndb.com/people/059/000025981/,,,American Beauty,Sam Mendes,,,,\r670454427,FALSE,finalized,3,2/10/15 2:00,"Atlanta, Ga",1,14-Jan-63,1,White,1,Atheist,1,Straight,1,2001,1,Best Director,http://www.nndb.com/people/907/000025832/,,,Traffic,Steven Soderbergh,,,,\r670454428,FALSE,finalized,3,2/10/15 3:51,"Duncan, Ok",1,1-Mar-54,1,White,1,Na,1,Straight,1,2002,1,Best Director,http://www.nndb.com/people/365/000025290/,,,A Beautiful Mind,Ron Howard,,,,\r670454429,FALSE,finalized,3,2/10/15 2:04,"Paris, France",1,18-Aug-33,1,White,1,See Note,0.3333,Straight,1,2003,1,Best Director,http://www.nndb.com/people/541/000023472/,,,The Pianist,Roman Polanski,,,,\r670454430,FALSE,finalized,3,2/10/15 2:09,"Wellington, New Zealand",1,31-Oct-61,1,White,1,Na,1,Straight,1,2004,1,Best Director,http://www.nndb.com/people/848/000025773/,,,The Lord of the Rings: Return of the King,Peter Jackson,,,,\r670454431,FALSE,finalized,3,2/10/15 2:00,"San Francisco, Ca",1,31-May-30,1,White,1,Na,1,Straight,1,2005,1,Best Director,http://www.nndb.com/people/849/000022783/,,,Million Dollar Baby,Clint Eastwood,,,,\r670454432,FALSE,finalized,3,2/10/15 2:09,"Pingtung, Taiwan",1,23-Oct-54,1,Asian,1,Na,1,Straight,1,2006,1,Best Director,http://www.nndb.com/people/394/000025319/,,,Brokeback Mountain,Ang Lee,,,,\r670454433,FALSE,finalized,3,2/10/15 1:43,"Flushing, Ny",1,17-Nov-42,1,White,1,Roman Catholic,1,Straight,1,2007,1,Best Director,http://www.nndb.com/people/678/000022612/,,,The Departed,Martin Scorsese,,,,\r670454434,FALSE,finalized,3,2/10/15 2:05,"St. Louis Park, Mn",1,21-Sep-57,1,White,1,Jewish,1,Straight,1,2008,1,Best Director,http://www.nndb.com/people/400/000025325/,,,No Country for Old Men,Ethan Coen,,,,\r670454435,TRUE,golden,81,,"Manchester, England",1,20-Oct-56,1,White,1,Roman Catholic,0.9624,Straight,1,2009,0.9643,Best Director,http://www.nndb.com/people/887/000044755/,,,Slumdog Millionaire,Danny Boyle,,Roman Catholic,,\r670454436,FALSE,finalized,3,2/10/15 1:46,"San Carlos, Ca",1,27-Nov-51,1,White,1,Na,1,Straight,1,2009,1,Best Director,http://www.nndb.com/people/837/000079600/,,,The Hurt Locker,Kathryn Bigelow,,,,\r670454437,FALSE,finalized,3,2/10/15 1:56,"London, England",1,1972,1,White,1,Na,1,Na,1,2011,1,Best Director,http://www.nndb.com/people/093/000268286/,,,The King\'s Speech,Tom Hooper,,,,\r670454438,FALSE,finalized,3,2/10/15 3:57,"Paris, France",1,29-Mar-67,1,White,1,Jewish,1,Straight,1,2012,1,Best Director,http://www.nndb.com/people/302/000281456/,,,The Artist,Michel Hazanavicius,,,,\r670454439,FALSE,finalized,3,2/10/15 2:04,"Pingtung, Taiwan",1,23-Oct-54,1,Asian,1,Na,1,Straight,1,2013,1,Best Director,http://www.nndb.com/people/394/000025319/,,,Life of Pi,Ang Lee,,,,\r670454440,FALSE,finalized,3,2/10/15 2:04,"Rorschach, Switzerland",1,23-Jul-1884,1,White,1,Na,1,Bisexual,1,1929,1,Best Actor,http://www.nndb.com/people/738/000063549/,,,The Last Command,Emil Jannings,,,,\r670454441,FALSE,finalized,3,2/10/15 1:58,"Columbus, Oh",1,29-Mar-1889,1,White,1,Na,1,Straight,1,1930,1,Best Actor,http://www.nndb.com/people/739/000063550/,,,In Old Arizona,Warner Baxter,,,,\r670454442,FALSE,finalized,3,2/10/15 2:41,"London, England",1,10-Apr-1868,1,White,1,Na,0.6897,Straight,1,1930,1,Best Actor,http://www.nndb.com/people/740/000063551/,,,Desraeli,George Arliss,,,,\r670454443,FALSE,finalized,3,2/10/15 2:04,"Philadelphia, Pa",1,28-Apr-1878,1,White,1,Roman Catholic,1,Straight,1,1931,1,Best Actor,http://www.nndb.com/people/741/000043612/,,,A Free Soul,Lionel Barrymore,,,,\r670454444,FALSE,finalized,3,2/10/15 1:59,"Kansas City, Mo",1,1-Apr-1885,1,White,1,Na,1,Straight,1,1932,1,Best Actor,http://www.nndb.com/people/976/000043847/,,,The Champ,Wallace Beery,,,,\r670454445,FALSE,finalized,3,2/10/15 2:19,"Victoria Hotel, Scarborough, Yorkshire, England",1,1-Jul-1899,1,White,1,Roman Catholic,1,Gay,1,1934,1,Best Actor,http://www.nndb.com/people/884/000042758/,,,The Private Life of Henry VIII,Charles Laughton,,,,\r670454446,FALSE,finalized,3,2/10/15 2:08,"Cadiz, Oh",1,1-Feb-1901,1,White,1,Na,1,Straight,1,1935,1,Best Actor,http://www.nndb.com/people/156/000027075/,,,It Happened One Night,Clark Gable,,,,\r670454447,FALSE,finalized,3,2/10/15 2:05,"Tunbridge Wells, Kent, England",1,11-Dec-1883,1,White,1,Anglican/episcopalian,1,Straight,1,1936,1,Best Actor,http://www.nndb.com/people/452/000047311/,,,The Informer,Victor McLaglen,,,,\r670454448,FALSE,finalized,3,2/10/15 2:06,"Lviv, Ukraine",1,22-Sep-1895,1,White,1,Jewish,1,Straight,1,1937,1,Best Actor,http://www.nndb.com/people/741/000063552/,,,The 

In [0]:
df = spark.createDataFrame([{"hello": "world"} for x in range(10000)])
df.show(3)

spark-2.3.4-bin-hadoop2.7/python/pyspark/sql/session.py:340: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [0]:
# Sample Data
file_loc = './sample_data/california_housing_train.csv'
df = spark.read.csv(file_loc, inferSchema=True, header=True)
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [0]:
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [0]:
df.schema

StructType(List(StructField(longitude,DoubleType,true),StructField(latitude,DoubleType,true),StructField(housing_median_age,DoubleType,true),StructField(total_rooms,DoubleType,true),StructField(total_bedrooms,DoubleType,true),StructField(population,DoubleType,true),StructField(households,DoubleType,true),StructField(median_income,DoubleType,true),StructField(median_house_value,DoubleType,true)))

In [0]:
df.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [0]:
df.count()

17000

In [0]:
df.select("longitude","households","median_income").show(10)

+---------+----------+-------------+
|longitude|households|median_income|
+---------+----------+-------------+
|  -114.31|     472.0|       1.4936|
|  -114.47|     463.0|         1.82|
|  -114.56|     117.0|       1.6509|
|  -114.57|     226.0|       3.1917|
|  -114.57|     262.0|        1.925|
|  -114.58|     239.0|       3.3438|
|  -114.58|     633.0|       2.6768|
|  -114.59|     158.0|       1.7083|
|  -114.59|    1056.0|       2.1782|
|   -114.6|     271.0|       2.1908|
+---------+----------+-------------+
only showing top 10 rows

In [0]:
df.filter(df['households'] <200).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
|  -114.73|   33.43|              24.0|      796.0|         243.0|     227.0|     139.0|       0.8964|           59200.0|
|  -114.94|   34.55|              20.0|      350.0|          95.0|     119.0|      58.0|        1.625|           50000.0|
|  -114.98|   33.82|              15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
|  -115.32|   32.82|              34.0|      591.0|         139.0|     327.0|      89.0|       3.6528|          100000.0|
|  -115.37|   32.81|              32.0|      741.0|         191.0|     623.0|     169.0|       1.7604|           68600.0|
|  -115.39|   32.76|              16.0|     1136.0|         196.0|     481.0|     185.0|       6.2558|          146300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [0]:
df.groupby('longitude').count().show(10)

+---------+-----+
|longitude|count|
+---------+-----+
|  -119.04|   17|
|  -121.27|   41|
|  -122.61|   11|
|  -116.06|    2|
|  -117.55|   14|
|  -119.07|    9|
|   -120.3|    5|
|  -120.88|    7|
|  -121.22|   27|
|  -122.02|   61|
+---------+-----+
only showing top 10 rows

In [0]:
df.filter(df["population"].isin(227.0)).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.73|   33.43|              24.0|      796.0|         243.0|     227.0|     139.0|       0.8964|           59200.0|
|  -118.14|   34.15|              52.0|      407.0|         160.0|     227.0|     148.0|       1.5156|          187500.0|
|  -121.11|   37.43|              42.0|      412.0|          75.0|     227.0|      75.0|          2.5|           74200.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

In [0]:
df2=df.filter(df["population"].isin(227.0))

In [0]:
df2.count()

3

In [0]:
df.filter(df["median_income"].between(2, 24)).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.98|   33.82|              15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [0]:
df.select("longitude","latitude",df["total_rooms"]+100).show(10) # when applying transformation use df["col"]

+---------+--------+-------------------+
|longitude|latitude|(total_rooms + 100)|
+---------+--------+-------------------+
|  -114.31|   34.19|             5712.0|
|  -114.47|    34.4|             7750.0|
|  -114.56|   33.69|              820.0|
|  -114.57|   33.64|             1601.0|
|  -114.57|   33.57|             1554.0|
|  -114.58|   33.63|             1487.0|
|  -114.58|   33.61|             3007.0|
|  -114.59|   34.83|              912.0|
|  -114.59|   33.61|             4889.0|
|   -114.6|   34.83|             1597.0|
+---------+--------+-------------------+
only showing top 10 rows

In [0]:
df.select("longitude","latitude","total_rooms").show(10)

+---------+--------+-----------+
|longitude|latitude|total_rooms|
+---------+--------+-----------+
|  -114.31|   34.19|     5612.0|
|  -114.47|    34.4|     7650.0|
|  -114.56|   33.69|      720.0|
|  -114.57|   33.64|     1501.0|
|  -114.57|   33.57|     1454.0|
|  -114.58|   33.63|     1387.0|
|  -114.58|   33.61|     2907.0|
|  -114.59|   34.83|      812.0|
|  -114.59|   33.61|     4789.0|
|   -114.6|   34.83|     1497.0|
+---------+--------+-----------+
only showing top 10 rows

In [0]:
from pyspark.sql import functions as F
df.select("*",F.when(df["median_income"] > 2, 1).otherwise(0).alias("inc_cat")).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|inc_cat|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|      0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|      0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|      0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|      1|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|      0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|      1|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|      1|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|      0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|      1|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|      1|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------+
only showing top 10 rows

In [0]:
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [0]:
stat=df.describe()
stat

DataFrame[summary: string, longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [0]:
stat.columns

['summary',
 'longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [0]:
stat.head(3)

[Row(summary='count', longitude='17000', latitude='17000', housing_median_age='17000', total_rooms='17000', total_bedrooms='17000', population='17000', households='17000', median_income='17000', median_house_value='17000'),
 Row(summary='mean', longitude='-119.56210823529375', latitude='35.6252247058827', housing_median_age='28.58935294117647', total_rooms='2643.664411764706', total_bedrooms='539.4108235294118', population='1429.5739411764705', households='501.2219411764706', median_income='3.883578100000021', median_house_value='207300.91235294117'),
 Row(summary='stddev', longitude='2.0051664084260357', latitude='2.1373397946570867', housing_median_age='12.586936981660406', total_rooms='2179.947071452777', total_bedrooms='421.4994515798648', population='1147.852959159527', households='384.5208408559016', median_income='1.9081565183791036', median_house_value='115983.76438720895')]

In [0]:
stat[2]

Column<b'latitude'>

In [0]:
#add new column
df = df.withColumn("New",df["median_income"]/df["median_house_value"])

In [0]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'New']

In [0]:
df=df.drop("New")

In [0]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [0]:
df.groupby('longitude').mean("median_income").show(10)

+---------+------------------+
|longitude|avg(median_income)|
+---------+------------------+
|  -119.04| 2.992947058823529|
|  -121.27| 2.976824390243902|
|  -122.61|4.4254727272727274|
|  -116.06|           1.79185|
|  -117.55|            4.3996|
|  -119.07| 3.374211111111111|
|   -120.3|2.7403799999999996|
|  -120.88| 3.538828571428571|
|  -121.22|3.3738740740740734|
|  -122.02| 5.192816393442622|
+---------+------------------+
only showing top 10 rows

In [0]:
df_sorted=df.sort("total_rooms", ascending=False)

In [0]:
df_sorted.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -117.74|   33.89|               4.0|    37937.0|        5471.0|   16122.0|    5189.0|       7.4947|          366300.0|
|  -121.79|   36.64|              11.0|    32627.0|        6445.0|   28566.0|    6082.0|       2.3087|          118800.0|
|  -117.78|   34.03|               8.0|    32054.0|        5290.0|   15507.0|    5050.0|       6.0191|          253900.0|
|  -118.78|   34.16|               9.0|    30405.0|        4093.0|   12873.0|    3931.0|       8.0137|          399200.0|
|  -117.12|   33.52|               4.0|    30401.0|        4957.0|   13251.0|    4339.0|       4.5841|          212300.0|
|  -121.92|   37.53|               7.0|    28258.0|        3864.0|   12203.0|    3701.0|       8.4045|          451100.0|
|  -117.87|   34.04|               7.0|    27700.0|        4179.0|   15037.0|    4072.0|       6.6288|          339700.0|
|  -117.27|   33.68|               8.0|    26322.0|        4072.0|    9360.0|    3361.0|       5.3238|          228900.0|
|  -118.46|    34.4|              12.0|    25957.0|        4798.0|   10475.0|    4490.0|        4.542|          195300.0|
|   -118.9|   34.26|               5.0|    25187.0|        3521.0|   11956.0|    3478.0|       6.9712|          321300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [0]:
df_ordered=df.orderBy("total_rooms",ascending=False)

In [0]:
df_ordered.show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -117.74|   33.89|               4.0|    37937.0|        5471.0|   16122.0|    5189.0|       7.4947|          366300.0|
|  -121.79|   36.64|              11.0|    32627.0|        6445.0|   28566.0|    6082.0|       2.3087|          118800.0|
|  -117.78|   34.03|               8.0|    32054.0|        5290.0|   15507.0|    5050.0|       6.0191|          253900.0|
|  -118.78|   34.16|               9.0|    30405.0|        4093.0|   12873.0|    3931.0|       8.0137|          399200.0|
|  -117.12|   33.52|               4.0|    30401.0|        4957.0|   13251.0|    4339.0|       4.5841|          212300.0|
|  -121.92|   37.53|               7.0|    28258.0|        3864.0|   12203.0|    3701.0|       8.4045|          451100.0|
|  -117.87|   34.04|               7.0|    27700.0|        4179.0|   15037.0|    4072.0|       6.6288|          339700.0|
|  -117.27|   33.68|               8.0|    26322.0|        4072.0|    9360.0|    3361.0|       5.3238|          228900.0|
|  -118.46|    34.4|              12.0|    25957.0|        4798.0|   10475.0|    4490.0|        4.542|          195300.0|
|   -118.9|   34.26|               5.0|    25187.0|        3521.0|   11956.0|    3478.0|       6.9712|          321300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 10 rows

In [0]:
#from pyspark.sql import functions as F
#df.withColumn('Room_cat', F.when(df["median_income"] > 1, 1).when(df["median_income"]>5,2).otherwise(0)).show(10)
#OR
df.select("*", F.when(df["median_income"] > 1, 1).when(df["median_income"]>5,2).otherwise(0).alias("Room_cat")).show(10)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Room_cat|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|       1|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|       1|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|       1|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|       1|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|       1|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|       1|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|       1|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|       1|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|       1|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|       1|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------+
only showing top 10 rows

In [0]:
df=df.withColumn('Room_cat', F.when(df["median_income"] > 5, 3).when(df["median_income"]>3,2).otherwise(1))
df.groupby("Room_cat").count().orderBy("Room_cat").show()

+--------+-----+
|Room_cat|count|
+--------+-----+
|       1| 6077|
|       2| 7171|
|       3| 3752|
+--------+-----+

In [0]:
#output
df.select("*").write.save("CA_Housing.json",format="json")

### Movies data

In [0]:
movies = spark.read.csv('./Oscars.csv', inferSchema=True, header=True)

In [0]:
movies.createOrReplaceTempView("oscar2")
spark.sql("SELECT distinct _unit_state, count(*) as FREQ FROM oscar2 WHERE year_of_award>1900 GROUP BY _unit_state").show(10)

+-----------+----+
|_unit_state|FREQ|
+-----------+----+
|     golden|  25|
|  finalized| 416|
+-----------+----+

In [0]:
df2=spark.sql("SELECT * FROM oscar2 WHERE year_of_award>1900")
#spark.sql("CREATE TABLE df2 AS SELECT * FROM oscar2 WHERE year_of_award>1900")

In [0]:
#df2.createOrReplaceTempView("df2v") #you have to build view for each dataframe to use spark SQL
spark.sql("SELECT * FROM df2 WHERE year_of_award>1903").show(10)

In [0]:
#save to CSV
movies.write.csv("movies_new.csv")
!ls movies_new.csv

part-00000-58ab17ad-5634-4d90-b4ba-be3a2ebf06c0-c000.csv  _SUCCESS

In [0]:
vlist=movies.columns
vlist[7]

'date_of_birth'

In [0]:
#from pyspark.sql.types import DateType
#movies = movies.withColumn("BDT", movies[vlist[7]].cast(DateType()))

In [0]:
from pyspark.sql import functions as F
movies=movies.select("*",F.to_date("date_of_birth", "dd-MMM-yyyy").alias("BDT"))
#alternaive not tested
#from pyspark.sql.functions import expr
#df.withColumn("test3",expr("to_date(value, format)")).show()

In [0]:
spark.sql("SELECT date_of_birth, to_date(date_of_birth, 'dd-MMM-yyyy') as BDT FROM oscar2").show(10)

+-------------+----------+
|date_of_birth|       BDT|
+-------------+----------+
|  30-Sep-1895|1895-09-30|
|   2-Feb-1886|1886-02-02|
|  30-Sep-1895|1895-09-30|
|  23-Feb-1899|1899-02-23|
|  23-Apr-1894|1894-04-23|
|   2-Feb-1886|1886-02-02|
|  18-May-1897|1897-05-18|
|   1-Feb-1894|1894-02-01|
|  18-May-1897|1897-05-18|
|   3-Oct-1898|1898-10-03|
+-------------+----------+
only showing top 10 rows

In [0]:
spark.sql("SELECT min(year(to_date(date_of_birth, 'd-MMM-yyyy'))) as min_y, \
           max(year(to_date(date_of_birth, 'd-MMM-yyyy'))) as max_y FROM oscar2").show()

+-----+-----+
|min_y|max_y|
+-----+-----+
|    4| 1936|
+-----+-----+

In [0]:
spark.sql("SELECT date_of_birth \
           FROM oscar2 WHERE year(to_date(date_of_birth, 'dd-MMM-yyyy'))<=99").show(10)

+-------------+
|date_of_birth|
+-------------+
|    11-Oct-18|
|    22-Jun-06|
|     7-Sep-09|
|     5-Aug-06|
|    11-Feb-09|
|    11-Feb-09|
|    18-Dec-04|
|    29-Apr-07|
|     7-Sep-09|
|    30-Jan-20|
+-------------+
only showing top 10 rows

In [0]:
spark.sql("SELECT count(*) \
           FROM oscar2 WHERE year(to_date(date_of_birth, 'dd-MMM-yyyy'))<=100").show(10)

+--------+
|count(1)|
+--------+
|     361|
+--------+

In [0]:
spark.sql("SELECT date_of_birth, CASE WHEN year(to_date(date_of_birth, 'dd-MMM-yyyy')) < 100 THEN year(to_date(date_of_birth, 'dd-MMM-yyyy'))+1900 \
           ELSE year(to_date(date_of_birth, 'dd-MMM-yyyy')) END as YR FROM oscar2 WHERE year(to_date(date_of_birth, 'dd-MMM-yyyy'))=4").show(10)

+-------------+----+
|date_of_birth|  YR|
+-------------+----+
|    18-Dec-04|1904|
|    18-Dec-04|1904|
|    14-Apr-04|1904|
|    31-May-04|1904|
|    29-Sep-04|1904|
+-------------+----+

In [0]:
movies2=spark.sql("SELECT *, CASE WHEN year(to_date(date_of_birth, 'dd-MMM-yyyy')) < 100 \
           THEN year(to_date(date_of_birth, 'dd-MMM-yyyy'))+1900 \
           ELSE year(to_date(date_of_birth, 'dd-MMM-yyyy')) END as YR FROM oscar2")

In [0]:
movies2.dtypes

[('_unit_id', 'int'),
 ('_golden', 'boolean'),
 ('_unit_state', 'string'),
 ('_trusted_judgments', 'int'),
 ('_last_judgment_at', 'string'),
 ('birthplace', 'string'),
 ('birthplace:confidence', 'double'),
 ('date_of_birth', 'string'),
 ('date_of_birth:confidence', 'double'),
 ('race_ethnicity', 'string'),
 ('race_ethnicity:confidence', 'double'),
 ('religion', 'string'),
 ('religion:confidence', 'double'),
 ('sexual_orientation', 'string'),
 ('sexual_orientation:confidence', 'double'),
 ('year_of_award', 'int'),
 ('year_of_award:confidence', 'double'),
 ('award', 'string'),
 ('biourl', 'string'),
 ('birthplace_gold', 'string'),
 ('date_of_birth_gold', 'string'),
 ('movie', 'string'),
 ('person', 'string'),
 ('race_ethnicity_gold', 'string'),
 ('religion_gold', 'string'),
 ('sexual_orientation_gold', 'string'),
 ('year_of_award_gold', 'int'),
 ('YR', 'int')]

In [0]:
movies[vlist[7],"BDT"].show(10)

NameError: ignored

In [0]:
movies=movies.withColumn("recency",F.when(F.year(movies["BDT"])>1884,1).otherwise(0))

In [0]:
movies.groupBy("recency").count().show()

+-------+-----+
|recency|count|
+-------+-----+
|      1|   67|
|      0|  374|
+-------+-----+

In [0]:
#change data type
#from pyspark.sql.types import DoubleType
#movies = movies.withColumn("vote_avg_num", movies["vote_average"].cast(DoubleType()))

In [0]:
len(movies.columns)

29

In [0]:
vlist=movies.columns
vlist[-2:]

['BDT', 'recency']

In [0]:
movies.groupBy(F.year("BDT")).count().orderBy(F.year("BDT"), ascending=False).show(5)

+---------+-----+
|year(BDT)|count|
+---------+-----+
|     1936|    1|
|     1903|    6|
|     1902|    5|
|     1901|    8|
|     1900|    5|
+---------+-----+
only showing top 5 rows

In [0]:
#movies.select([count(when(isnan(c), c)) for c in movies.columns]).show()
for c in vlist:
  K=movies.filter(movies[c].isNull()).count()
  print(c, K)

_unit_id 0
_golden 0
_unit_state 0
_trusted_judgments 0
_last_judgment_at 25
birthplace 0
birthplace:confidence 0
date_of_birth 0
date_of_birth:confidence 0
race_ethnicity 0
race_ethnicity:confidence 0
religion 0
religion:confidence 0
sexual_orientation 0
sexual_orientation:confidence 0
year_of_award 0
year_of_award:confidence 0
award 0
biourl 0
birthplace_gold 432
date_of_birth_gold 433
movie 0
person 0
race_ethnicity_gold 439
religion_gold 431
sexual_orientation_gold 438
year_of_award_gold 430
BDT 1
recency 0

In [0]:
#movies.where(movies["race_ethnicity_gold"].isNull()).select("*").show(5)
#OR
#movies.select("*").filter(movies["race_ethnicity_gold"].isNull()).show(5)
#OR 
movies.filter(movies["race_ethnicity_gold"].isNull()).select("*").show(5)

+---------+-------+-----------+------------------+-----------------+------------------+---------------------+-------------+------------------------+--------------+-------------------------+--------------+-------------------+------------------+-----------------------------+-------------+------------------------+-------------+--------------------+---------------+------------------+--------------------+---------------+-------------------+-------------+-----------------------+------------------+----------+-------+
| _unit_id|_golden|_unit_state|_trusted_judgments|_last_judgment_at|        birthplace|birthplace:confidence|date_of_birth|date_of_birth:confidence|race_ethnicity|race_ethnicity:confidence|      religion|religion:confidence|sexual_orientation|sexual_orientation:confidence|year_of_award|year_of_award:confidence|        award|              biourl|birthplace_gold|date_of_birth_gold|               movie|         person|race_ethnicity_gold|religion_gold|sexual_orientation_gold|year_of_award_gold|       BDT|recency|
+---------+-------+-----------+------------------+-----------------+------------------+---------------------+-------------+------------------------+--------------+-------------------------+--------------+-------------------+------------------+-----------------------------+-------------+------------------------+-------------+--------------------+---------------+------------------+--------------------+---------------+-------------------+-------------+-----------------------+------------------+----------+-------+
|670454353|  false|  finalized|                 3|     2/10/15 3:45| Chisinau, Moldova|                  1.0|  30-Sep-1895|                     1.0|         White|                      1.0|            Na|                1.0|          Straight|                          1.0|         1927|                     1.0|Best Director|http://www.nndb.c...|           null|              null| Two Arabian Knights|Lewis Milestone|               null|         null|                   null|              null|1895-09-30|      1|
|670454354|  false|  finalized|                 3|     2/10/15 2:03| Glasgow, Scotland|                  1.0|   2-Feb-1886|                     1.0|         White|                      1.0|            Na|                1.0|          Straight|                       0.6842|         1930|                     1.0|Best Director|http://www.nndb.c...|           null|              null|     The Divine Lady|    Frank Lloyd|               null|         null|                   null|              null|1886-02-02|      1|
|670454355|  false|  finalized|                 3|     2/10/15 2:05| Chisinau, Moldova|                  1.0|  30-Sep-1895|                     1.0|         White|                      1.0|            Na|                1.0|          Straight|                          1.0|         1931|                  0.6667|Best Director|http://www.nndb.c...|           null|              null|All Quiet on the ...|Lewis Milestone|               null|         null|                   null|              null|1895-09-30|      1|
|670454356|  false|  finalized|                 3|     2/10/15 2:04|       Chicago, Il|                  1.0|  23-Feb-1899|                     1.0|         White|                      1.0|            Na|                1.0|          Straight|                          1.0|         1932|                     1.0|Best Director|http://www.nndb.c...|           null|              null|              Skippy|  Norman Taurog|               null|         null|                   null|              null|1899-02-23|      1|
|670454357|  false|  finalized|                 3|     2/10/15 1:48|Salt Lake City, Ut|                  1.0|  23-Apr-1894|                     1.0|         White|                      1.0|Roman Catholic|                1.0|          Straight|                          1.0|         1933|                     1.0|Best Director|http://www.nndb.c...|           null|              null|            Bad Girl|  Frank Borzage|               null|         null|                   null|              null|1894-04-23|      1|
+---------+-------+-----------+------------------+-----------------+------------------+---------------------+-------------+------------------------+--------------+-------------------------+--------------+-------------------+------------------+-----------------------------+-------------+------------------------+-------------+--------------------+---------------+------------------+--------------------+---------------+-------------------+-------------+-----------------------+------------------+----------+-------+
only showing top 5 rows

In [0]:
movies.schema
#["title"]
#fields = [StructField("title", StringType(), True)]
#schema = StructType(fields)

StructType(List(StructField(_unit_id,IntegerType,true),StructField(_golden,BooleanType,true),StructField(_unit_state,StringType,true),StructField(_trusted_judgments,IntegerType,true),StructField(_last_judgment_at,StringType,true),StructField(birthplace,StringType,true),StructField(birthplace:confidence,DoubleType,true),StructField(date_of_birth,StringType,true),StructField(date_of_birth:confidence,DoubleType,true),StructField(race_ethnicity,StringType,true),StructField(race_ethnicity:confidence,DoubleType,true),StructField(religion,StringType,true),StructField(religion:confidence,DoubleType,true),StructField(sexual_orientation,StringType,true),StructField(sexual_orientation:confidence,DoubleType,true),StructField(year_of_award,IntegerType,true),StructField(year_of_award:confidence,DoubleType,true),StructField(award,StringType,true),StructField(biourl,StringType,true),StructField(birthplace_gold,StringType,true),StructField(date_of_birth_gold,StringType,true),StructField(movie,StringType,true),StructField(person,StringType,true),StructField(race_ethnicity_gold,StringType,true),StructField(religion_gold,StringType,true),StructField(sexual_orientation_gold,StringType,true),StructField(year_of_award_gold,IntegerType,true),StructField(BDT,DateType,true),StructField(recency,IntegerType,false)))

In [0]:
#import os
#from pyspark import SparkConf

#SUBMIT_ARGS = "--packages com.databricks:spark-csv_2.11:1.2.0 pyspark-shell"
#os.environ["PYSPARK_SUBMIT_ARGS"] = SUBMIT_ARGS
#conf = SparkConf()

#from pyspark import SparkContext
#sc = SparkContext(conf=conf)

In [0]:
movies.select("_unit_state").distinct().show()

+-----------+
|_unit_state|
+-----------+
|     golden|
|  finalized|
+-----------+

In [0]:
movies.groupBy("_unit_state").mean("religion:confidence").show()

+-----------+------------------------+
|_unit_state|avg(religion:confidence)|
+-----------+------------------------+
|     golden|      0.9954040000000001|
|  finalized|      0.9890108173076926|
+-----------+------------------------+

In [0]:
#movies=movies.withColumn("BYR",F.year('BDT'))
#movies=movies.withColumn("BYR_New", F.when(movies['BYR']<1000,1900+movies["BYR"]).otherwse(movies["BYR"]))
movies.dtypes

[('_unit_id', 'int'),
 ('_golden', 'boolean'),
 ('_unit_state', 'string'),
 ('_trusted_judgments', 'int'),
 ('_last_judgment_at', 'string'),
 ('birthplace', 'string'),
 ('birthplace:confidence', 'double'),
 ('date_of_birth', 'string'),
 ('date_of_birth:confidence', 'double'),
 ('race_ethnicity', 'string'),
 ('race_ethnicity:confidence', 'double'),
 ('religion', 'string'),
 ('religion:confidence', 'double'),
 ('sexual_orientation', 'string'),
 ('sexual_orientation:confidence', 'double'),
 ('year_of_award', 'int'),
 ('year_of_award:confidence', 'double'),
 ('award', 'string'),
 ('biourl', 'string'),
 ('birthplace_gold', 'string'),
 ('date_of_birth_gold', 'string'),
 ('movie', 'string'),
 ('person', 'string'),
 ('race_ethnicity_gold', 'string'),
 ('religion_gold', 'string'),
 ('sexual_orientation_gold', 'string'),
 ('year_of_award_gold', 'int'),
 ('BDT', 'date'),
 ('recency', 'int'),
 ('Age', 'int'),
 ('BYR', 'int'),
 ('BYR_New', 'int')]

In [0]:
movies.where(movies[])select('BYR_New','BYR',F.year(movies['BDT'])).filter(show(10)

+-------+----+---------+
|BYR_New| BYR|year(BDT)|
+-------+----+---------+
|   null|1895|     1895|
|   null|1886|     1886|
|   null|1895|     1895|
|   null|1899|     1899|
|   null|1894|     1894|
|   null|1886|     1886|
|   null|1897|     1897|
|   null|1894|     1894|
|   null|1897|     1897|
|   null|1898|     1898|
+-------+----+---------+
only showing top 10 rows

In [0]:
movies=movies.withColumn("Age", movies["year_of_award"]-F.year(movies["BDT"]))

In [0]:
movies.select("Age","year_of_award", "BDT").show(10)

+---+-------------+----------+
|Age|year_of_award|       BDT|
+---+-------------+----------+
| 32|         1927|1895-09-30|
| 44|         1930|1886-02-02|
| 36|         1931|1895-09-30|
| 33|         1932|1899-02-23|
| 39|         1933|1894-04-23|
| 48|         1934|1886-02-02|
| 38|         1935|1897-05-18|
| 42|         1936|1894-02-01|
| 40|         1937|1897-05-18|
| 40|         1938|1898-10-03|
+---+-------------+----------+
only showing top 10 rows

In [0]:
K=-1
for c in movies.columns:
  K+=1
  print(K, c)

0 _unit_id
1 _golden
2 _unit_state
3 _trusted_judgments
4 _last_judgment_at
5 birthplace
6 birthplace:confidence
7 date_of_birth
8 date_of_birth:confidence
9 race_ethnicity
10 race_ethnicity:confidence
11 religion
12 religion:confidence
13 sexual_orientation
14 sexual_orientation:confidence
15 year_of_award
16 year_of_award:confidence
17 award
18 biourl
19 birthplace_gold
20 date_of_birth_gold
21 movie
22 person
23 race_ethnicity_gold
24 religion_gold
25 sexual_orientation_gold
26 year_of_award_gold
27 BDT
28 recency
29 Age

In [0]:
movies.groupBy("religion").mean("Age").show()

+--------------------+------------------+
|            religion|          avg(Age)|
+--------------------+------------------+
|            Agnostic|            1978.0|
|   Christian Science|            1931.5|
|              Quaker|            1952.5|
|             Baptist|            1938.8|
|           Christian|             989.0|
|      Roman Catholic| 1382.032786885246|
|            Lutheran|1946.6666666666667|
|   Congregationalist|            1933.0|
|Anglican/episcopa...|            1000.0|
|            Buddhist|            1931.0|
|               Deist|            1939.0|
|Born-Again Christian|            1938.4|
| Disciples of Christ|            1940.0|
|          Protestant|            1565.2|
|              Jewish|           1792.32|
|                  Na|1561.8320895522388|
|               Hindu|            1934.0|
|              Sufism|            1943.0|
|           Methodist|            1927.0|
|        Presbyterian|            1934.5|
+--------------------+------------------+
only showing top 20 rows

In [0]:
movies.describe().show()

+-------+-------------------+-----------+------------------+-----------------+--------------------+---------------------+-------------+------------------------+--------------+-------------------------+--------+-------------------+------------------+-----------------------------+------------------+------------------------+--------------------+--------------------+--------------------+------------------+----------------+------------+-------------------+--------------------+-----------------------+------------------+-------------------+-----------------+
|summary|           _unit_id|_unit_state|_trusted_judgments|_last_judgment_at|          birthplace|birthplace:confidence|date_of_birth|date_of_birth:confidence|race_ethnicity|race_ethnicity:confidence|religion|religion:confidence|sexual_orientation|sexual_orientation:confidence|     year_of_award|year_of_award:confidence|               award|              biourl|     birthplace_gold|date_of_birth_gold|           movie|      person|race_ethnicity_gold|       religion_gold|sexual_orientation_gold|year_of_award_gold|            recency|              Age|
+-------+-------------------+-----------+------------------+-----------------+--------------------+---------------------+-------------+------------------------+--------------+-------------------------+--------+-------------------+------------------+-----------------------------+------------------+------------------------+--------------------+--------------------+--------------------+------------------+----------------+------------+-------------------+--------------------+-----------------------+------------------+-------------------+-----------------+
|  count|                441|        441|               441|              416|                 441|                  441|          441|                     441|           441|                      441|     441|                441|               441|                          441|               441|                     441|                 441|                 441|                   9|                 8|             441|         441|                  2|                  10|                      3|                11|                441|              440|
|   mean|6.704824702517006E8|       null|  7.63718820861678|             null|                null|   0.9952594104308389|       1972.0|      0.9966065759637187|          null|       0.9991303854875284|    null| 0.9893732426303856|              null|            0.992390476190476|1973.1655328798186|      0.9900820861678005|                null|                null|                null|              null|            null|        null|               null|                null|                   null|1977.3636363636363|0.15192743764172337|1602.759090909091|
| stddev|  113997.4480652991|       null|19.015540899806773|             null|                null| 0.038917480398411065|          NaN|    0.032059736534451155|          null|     0.016438264177498895|    null|0.06561006304923879|              null|         0.049457977111887624| 24.03089470300162|    0.059177392191166175|                null|                null|                null|              null|            null|        null|               null|                null|                   null|21.592928135260983| 0.3593582084709698|727.2428984887791|
|    min|          670454353|  finalized|                 3|     2/10/15 1:43|       Arlington, Va|               0.6571|   1-Apr-1885|                  0.6562|         Asian|                   0.6571|Agnostic|             0.3333|          Bisexual|                       0.6571|              1927|                  0.3333|          Best Actor|http://www.nndb.c...|          Bascom, Fl|         11-Dec-67|12 Years a Slave|Adrien Brody|              Black|Born-Again Christian|               Bisexual|              1942|                  0|               28|
|    max|          670972898|     golden|                95|     2/10/15 4:21|York, North Yorks...|                  1.0|     9-Sep-23|                     1.0|         White|                      1.0|  Sufism|                1.0|          Straight|                          1.0|              2014|                     1.0|Best Supporting A...|http://www.nndb.c...|Sucha, Galicia, A...|          9-Jul-56|     the V.I.P.s| Yul Brynner|              White|      Roman Catholic|               Straight|              2006|                  1|             1983|
+-------+-------------------+-----------+------------------+-----------------+--------------------+---------------------+-------------+------------------------+--------------+-------------------------+--------+-------------------+------------------+-----------------------------+------------------+------------------------+--------------------+--------------------+--------------------+------------------+----------------+------------+-------------------+--------------------+-----------------------+------------------+-------------------+-----------------+

In [0]:
movies.select("_unit_id","date_of_birth","BDT","Age","date_of_birth").filter(movies["Age"]>100).show(10)

+---------+-------------+----------+----+-------------+
| _unit_id|date_of_birth|       BDT| Age|date_of_birth|
+---------+-------------+----------+----+-------------+
|670454370|    11-Oct-18|0018-10-11|1944|    11-Oct-18|
|670454371|    22-Jun-06|0006-06-22|1940|    22-Jun-06|
|670454373|     7-Sep-09|0009-09-07|1939|     7-Sep-09|
|670454374|     5-Aug-06|0006-08-05|1943|     5-Aug-06|
|670454375|    11-Feb-09|0009-02-11|1941|    11-Feb-09|
|670454376|    11-Feb-09|0009-02-11|1942|    11-Feb-09|
|670454377|    18-Dec-04|0004-12-18|1948|    18-Dec-04|
|670454379|    29-Apr-07|0007-04-29|1947|    29-Apr-07|
|670454380|     7-Sep-09|0009-09-07|1946|     7-Sep-09|
|670454381|    30-Jan-20|0020-01-30|1936|    30-Jan-20|
+---------+-------------+----------+----+-------------+
only showing top 10 rows

In [0]:
movies.select("_unit_id").distinct().count()

441

In [0]:
movies.count()

441

In [0]:
31000/172000

0.18023255813953487